.collapse {
    display: none;
}

.collapse.show {
    display: block;
}

.card-header a {
    cursor: pointer;
    text-decoration: none;
}

.level-group {
    margin-left: 20px;
}

.sub-level {
    margin-left: 20px;
}

.sub-level-link {
    margin-left: 40px; /* Mayor sangría para subniveles */
    display: block; /* Cada enlace de nivel en su propia línea */
}

.level-content {
    margin-left: 60px; /* Mayor sangría para el contenido de cada nivel */
}
