.collapse {
    display: none;
}

.collapse.show {
    display: block;
}

.card-header a {
    cursor: pointer;
    text-decoration: none;
}

.sub-level {
    margin-left: 20px;
}

.level-link {
    margin-left: 40px; /* Sangría para los enlaces de nivel */
    display: block; /* Cada enlace de nivel en su propia línea */
}

.level-content {
    margin-left: 60px; /* Sangría para el contenido de cada nivel */
}
