body {
    background: #111;
    color: #f0c040;
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .perfil-container {
    padding: 2em 1em;
    max-width: 900px;
    margin: auto;
  }
  
  h1, h2 {
    text-align: center;
    margin-top: 1em;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 1em auto;
    max-width: 600px;
  }
  
  ul li {
    padding: 0.5em;
    border-bottom: 1px solid #444;
  }
  
  .galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 1em;
  }
  
  .galeria img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    border: 2px solid #f0c040;
    border-radius: 10px;
    background-color: #222;
    transition: transform 0.2s ease;
  }
  
  .galeria img:hover {
    transform: scale(1.1);
  }
  .oculto {
    display: none;
  }
  
  .seccion h2 {
    cursor: pointer;
    padding: 10px;
    background-color: #222;
    border-radius: 6px;
    margin: 10px 0;
    transition: background 0.3s;
  }
  
  .seccion h2:hover {
    background-color: #333;
  }
  

  
  @media (max-width: 600px) {
    .perfil-container {
      padding: 1em;
    }
  
    .galeria img {
      width: 80px;
      height: 80px;
    }
  
    h1 {
      font-size: 1.5em;
    }
  
    h2 {
      font-size: 1.2em;
    }
  }
  
 