<!doctype html>
<html lang="es">
{% include head.html %}
<body>
	{% include header.html %}
	<div class="container">

	{% if page.id %}
	<p>
		<strong>{{ page.published | date: '%d/%m/%Y' }} (última actualización: {{ page.date | date: '%d/%m/%Y' }})
		<br>
		{% for tag in page.tags %}
			<a class="label label-default" href="/learningmathematicas/tags/#{{ tag | slugify }}">{{ tag }}</a>
		{% endfor %}
    </p>
	{% if page.github %}
  <p>
    <a href="{{ page.github }}" class="btn btn-default">
      <i class="fa fa-github fa-2x"></i>  {{ page.github }}
    </a>
  </p>
{% endif %}

{% if page.github2 %}
  <p>
    <a href="{{ page.github2 }}" class="btn btn-default">
      <i class="fa fa-github fa-2x"></i>  {{ page.github2 }}
    </a>
  </p>
{% endif %}

{% if page.github3 %}
  <p>
    <a href="{{ page.github3 }}" class="btn btn-default">
      <i class="fa fa-github fa-2x"></i>  {{ page.github3 }}
    </a>
  </p>
{% endif %}

{% if page.github4 %}
  <p>
    <a href="{{ page.github4 }}" class="btn btn-default">
      <i class="fa fa-github fa-2x"></i>  {{ page.github4 }}
    </a>
  </p>
{% endif %}

	<hr>
	<h1>Resumen</h1>
	
	{% endif %}

	{{ content }}


	{% if page.id %}
	<p>Originalmente publicado {{ page.published | date: '%d/%m/%Y' }}
    <br> Ùltima actualización {{ page.date | date: '%d/%m/%Y' }}</p>

    <p><strong>Últimas Entradas relacionadas:</strong></p>
   
    <ul>
      {% assign count = 0 %}
      {% for allpost in site.posts %}
        {% if count < 5 %}
          {% assign common_tags = allpost.tags | where_exp: "tag", "page.tags contains tag" %}
          {% if common_tags.size > 0 and allpost.id != page.id %}
            <li>
              <a href="{{ site.baseurl }}{{ allpost.url }}">
                {{ allpost.title }}
              </a>
            </li>
            {% assign count = count | plus: 1 %}
          {% endif %}
        {% endif %}
      {% endfor %}
    </ul>
    
    
	{% endif %}

	{% include disqus.html %}
	</div>
	{% include footer.html %}
	{% include analytics.html %}

	
	
	
</body>
</html>


